################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/DDD-Template/.vs/DDD-Template
/DDD-Template/DDD-Template/obj
/DDD-Template/DDD-Template.Application/obj
/DDD-Template/DDD-Template.Core/obj
/DDD-Template/DDD-Template.Infrastructure/obj
/DDD-Template/DDD-Template.Application/bin/Debug/net8.0
/DDD-Template/DDD-Template/bin/Debug/net8.0
/DDD-Template/DDD-Template.Core/bin/Debug/net8.0
/DDD-Template/DDD-Template.Infrastructure/bin/Debug/net8.0
